<footer>
    <div class="container footer-grid">
                
        <div class="footer-col">
            <h3>VISÍTANOS</h3>
            <a href="https://maps.app.goo.gl/gV7XD3oLZNxDD8AC8" target="_blank" class="maps">
                <p>Combatientes de Malvinas 317<br>Guernica, Presidente Perón</p>
            </a>
            <p class="contact-link">+54 11 6860-6201</p>
            <p class="contact-link">¡Contactanos por Whatsapp!</p>
        </div>

        <div class="footer-col">
            <h3>HORARIOS</h3>
        </div>

        <div class="footer-col">
            <h3>SÍGUENOS</h3>
            <div class="social-links">
                <a href="https://www.instagram.com/tokzbarber/" target="_blank" rel="noopener noreferrer">Instagram</a>
                <a href="https://www.facebook.com/tokz.barberia/" target="_blank" rel="noopener noreferrer">Facebook</a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>2025 © TOKZ BARBER. Todos los derechos reservados.</p>
    </div>
</footer>