<header>
    <a href="/index.html" class="logo">
        <img src="/public/img/logos/Imagen2.png" alt="Logo de TOKZ">
    </a>

    <div class="header-controls">

        <button class="menu-toggle" aria-label="Menú Hamburguesa">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z" />
            </svg>
        </button>

        <a href="/pages/login.html" class="header-access-btn" aria-label="Acceso Usuarios">
            <img src="/public/img/iconos/user.svg" alt="Acceso" class="icon-img">
        </a>

    </div>
    <nav class="header-nav">
        <a href="#inicio">Inicio</a>
        <a href="#sobreNosotros">¿Qué es TOKZ?</a>
        <a href="#servicios">Servicios</a>
        <a href="#turnos">Turnos</a>
        <a href="#multimedia">Multimedia</a>
        <a href="#redes">Redes Sociales</a>
        <a href="#educacion">Educacion</a>
    </nav>
</header>