<header>
    <a href="/index.html" class="logo">
            <img src="/public/img/Imagen2.png" alt="Logo de TOKZ">
    </a>

    <button class="menu-toggle" aria-label="Menú Hamburguesa">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"/>
        </svg>
    </button>

    <nav class="header-nav">
        <a href="/index.html">Inicio</a>
        <a href="/pages/sobre_nosotros.html">¿Qué es TOKZ?</a>
        <a href="#">Servicios</a>
        <a href="#">Turnos</a>
        <a href="#">Educacion</a>
        <a href="#">Multimedia</a>
        <a href="#">Redes Sociales</a>
    </nav>
</header>