<header>
    <a href="index.html" class="logo header-access-link">
        <img src="/public/img/logos/Imagen2.png" alt="Logo de TOKZ">
    </a>

    <div class="header-controls">
        <nav class="header-nav">
            <a href="#tokz">TOKZ</a>
            <a href="#servicios">Servicios</a>
            <a href="#turnos">Turnos</a>
            <a href="#multimedia">Multimedia</a>
            <a href="#educacion">Educación</a>
            <a href="#redes">Redes Sociales</a>
        </nav>

        <a href="/pages/login.html" class="logo header-access-link">
            <img src="/public/img/logos/Imagen3.png" alt="Logo de TOKZ">
        </a>

        <button class="menu-toggle" aria-label="Menú Hamburguesa">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z" />
            </svg>
        </button>
    </div>
</header>