:root {
    --darkcolor: #000000;
    --redcolor: #AE0E30;
    --lightcolor: white;
    --bg: #000000;

    --uppercase: 'Montserrat', sans-serif;
}

body {
    background-image: url('/public/img/texturas/binding-dark.png');
    background-repeat: repeat;
    padding-top: 90px;
}

.servicios-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.full-page-container {
    max-width: 1200px;
    width: 95%;
    padding: 50px;
}

.actual-logo {
    max-width: 120px;
    height: auto;
}

.category-section {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 280px 1fr; 
    gap: 40px; 
    margin-bottom: 60px;
    align-items: start; 
}

.category-section p{
    font-size: 14px;
}

.category-section p a{
    color: var(--redcolor);
    text-decoration: none;
    font-weight: bold;
}

.category-section p a:hover{
    color: var(--lightcolor);
}

.category-header {
    font-family: var(--uppercase);
    text-transform: uppercase;
    color: var(--lightcolor);
    font-size: 28px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    margin-bottom: 0px;
    grid-column: 1 / -1; 
}

.services-grid.full-width-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
    column-gap: 20px;
    row-gap: 40px;
    width: 100%;
    max-width: 100%;
    flex: none;
    grid-column: 2;
}

.menu-footer {
    background-color: transparent;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #333;
}

.payment-info {
    color: #aaa;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #333;
}

.payment-info i {
    flex-shrink: 0;  
    margin-top: 2px; 
}

.logoIMG {
    object-fit: contain !important;
    background-color: rgba(255, 255, 255, 0.02);
    filter: none !important;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
    padding-bottom: 15px !important; 
    overflow: hidden;
    justify-content: flex-start; 
}

.price-details {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: auto;
    width: 100%;
    padding-top: 10px;
}

.old-price {
    font-size: 14px;
    color: #888; 
    text-decoration: line-through; 
    margin-bottom: 2px;
    font-weight: 400;
}

.promo-price {
    font-size: 20px;
    color: var(--redcolor); 
    font-weight: 700;
    line-height: 1.2;
}

.gallery-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-image-box {
    width: 100%;
    height: 220px; 
    overflow: hidden;
}

.main-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease;
}


.thumbnails-row {
    display: flex;
    gap: 5px;
    padding: 8px 15px 0 15px; 
    height: 50px;
    background-color: #fff;
}


.thumb {
    flex: 1; 
    height: 100%;
    cursor: pointer;
    opacity: 0.6;
    border-bottom: 3px solid transparent; 
    transition: all 0.2s;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.thumb:hover, .thumb.active {
    opacity: 1;
    border-bottom: 3px solid var(--redcolor); 
}

@media (max-width: 1240px) {
    .services-grid.full-width-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px
    }
}

@media (max-width: 900px) { 

    .category-section {
        grid-template-columns: 1fr; 
        gap: 30px;
    }

    .category-header {
        grid-column: auto; 
    }

    .category-section p {
        grid-column: auto; 
        position: static;  
        padding-right: 0;
        margin-bottom: -10px; 
    }

    .services-grid.full-width-grid {
        grid-column: auto; 
    }
}

@media (max-width: 768px) {

    body {
        padding-top: 70px !important;
    }

    .full-page-container {
        padding: 20px;
        width: 100%;
    }

    .services-grid.full-width-grid {
        grid-template-columns: 1fr; 
        gap: 40px;
    }

    .servicios-wrapper {
        padding-bottom: 2px;
    }

    .payment-info {
        width: 90%;         
        max-width: 400px;   
        margin: 0 auto;     
        padding: 15px;      
        text-align: left;   
    }
}