:root {
    --darkcolor: #000000;
    --redcolor: #AE0E30;
    --lightcolor: #ecf1db;
    --bg: #000000;
}

body {
    background-color: var(--bg);
    padding-top: 90px;
}

.servicios-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.full-page-container {
    max-width: 1200px;
    width: 95%;
    background-color: var(--darkcolor);
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.menu-main-header {
    text-align: center;
    margin-bottom: 60px;
}

.actual-logo {
    max-width: 120px;
    height: auto;
}

.menu-subtitle {
    color: var(--redcolor);
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.menu-title {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
}

.menu-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--redcolor);
    margin: 20px auto 0;
}

.category-section {
    margin-bottom: 60px;
}

.category-header {
    font-family: 'Playfair Display', serif;
    color: var(--lightcolor);
    font-size: 28px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.services-grid.full-width-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    column-gap: 20px;       
    row-gap: 40px;
    width: 100%;
    max-width: 100%;
    flex: none; 
}

.menu-footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #333;
}

.payment-info {
    color: #aaa;
    font-size: 14px;
    background-color: #151515;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #333;
}

.logoIMG {
    object-fit: contain !important;
    background-color: rgba(255, 255, 255, 0.02);
    filter: none !important;
}

.service-card:hover{
    transform: translateY(-5px);
}

@media (max-width: 768px) {

    body {
        padding-top: 70px !important; 
    }

    .full-page-container {
        padding: 20px;
        width: 100%;
    }
    
    .menu-title {
        font-size: 32px;
    }
    
    .services-grid.full-width-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px
    }

    .servicios-wrapper{
        padding-bottom: 2px;
    }
}

@media (max-width: 480px) {
    .services-grid.full-width-grid {
        grid-template-columns: 1fr;
    }

}