:root {
    --darkcolor: #000000;
    --redcolor: #AE0E30;
    --lightcolor: white;
    --bg: #000000;

    --uppercase: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg);
    padding-top: 90px;
}

.servicios-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.full-page-container {
    max-width: 1200px;
    width: 95%;
    background-color: var(--darkcolor);
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.actual-logo {
    max-width: 120px;
    height: auto;
}

.category-section {
    margin-bottom: 60px;
}

.category-header {
    font-family: var(--uppercase);
    text-transform: uppercase;
    color: var(--lightcolor);
    font-size: 28px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.services-grid.full-width-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
    width: 100%;
    max-width: 100%;
    flex: none;
}

.menu-footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #333;
}

.payment-info {
    color: #aaa;
    font-size: 14px;
    background-color: #151515;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #333;
}

.logoIMG {
    object-fit: contain !important;
    background-color: rgba(255, 255, 255, 0.02);
    filter: none !important;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.price-details {
    margin-top: auto;
    width: 100%;
    padding-top: 10px;
}

@media (max-width: 1240px) {
    .services-grid.full-width-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px
    }
}

@media (max-width: 768px) {

    body {
        padding-top: 70px !important;
    }

    .full-page-container {
        padding: 20px;
        width: 100%;
    }

    .services-grid.full-width-grid {
        grid-template-columns: 1fr; 
        gap: 40px;
    }

    .servicios-wrapper {
        padding-bottom: 2px;
    }
}